* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica, arial, sans-serif;
    max-width: 100%;
}

#main {}

body{
    margin: 0;
    padding: 0;
}

.bg-top {
    background-image: url("/assets/img/bg-top.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.fiuters {
    position: absolute;
    height: 0;
    width: 0;
}

.fiuters .vuong {
    width: 108px;
    height: 108px;
    opacity: 30%;
    position: relative;
    top: 400px;
    left: 173px;
}

.fiuters .cheo {
    position: relative;
    left: 1300px;
    top: -400px;
}

.fiuters .cheo1 {
    position: relative;
    top: -500px;

}

.fiuters .khung {
    width: 240px;
    height: 240px;
    position: relative;
    left: 500px;
    opacity: 0.2;
}

.fiuters-e {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.fiuters-e .khung1 {
    width: 179px;
    height: 179px;
    position:absolute;
    top: 300px;
    left: -100px;
    opacity: 0.2;
    border-radius: 30%;
}

.fiuters-e .vuong1 {
    opacity: 30%;
    position:absolute;
    top: 700px;
}

.fiuters-e .vuong2 {
    opacity: 30%;
    position:absolute;
    top: 650px;
}

.fiuters-e .vuong3 {
    width: 50px;
    height: 50px;
    opacity: 1%;
    position:absolute;
    top: 500px;
}

.fiuters-e .tron {
    position: absolute;
    opacity: 1;
    right: -50px;
}
.fiuters-e .fiuter-ct{

    position: relative;
    left: 40%;
  
}

.fiuters-e .fiuter-ct1{
     position: relative;
     left: 70%;
}

.fiuters-e .fiuter-ct2{
    position: relative;
    top: 10%;
    left: 0%;
}
.fiuters-e .fiuter-ct3{
    position: relative;
    left: 0%;

}
/* ----------------------------------------------------------------- */
#header {
    padding: 40px 50px;
}

.logo-hd {}

.logo-hd .header-logo {
    width: 237px;
    height: 35px;
}

.logo-hd p {
    text-align: center;
    font-size: 17px;
}

.menu-hd {
    padding-left: 440px;
}

.menu-hd li {
    padding: 0 10px;
}

.menu-hd a {
    font-size: 25px;
}

.menu-hd li:hover a {
    background-color: #ccc;
}




/* ------------------------------- */

#sidebar {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#sidebar img {
    width: 95%;
}

#sidebar .btn {
    background-color: #fff;
    margin-left: -20px;
}

.icons {
    font-size: auto;
    color: #fff;
    text-align: right;
    margin-right: 30px;
}

.icons i {
    margin: 1px 10px;
}

/* ------------------------------------------------------------ */
#content {
    padding: 0 0;
}
.whowe{
    padding-top: 20%;
}

div .title {
    font-size: 100px;
}

.title b {
    color: #0061B0;

}
.title h1 {
    color: #908B8B;
    font-size: 92px;
    line-height: 0.;
}

.title p {
    color: #908B8B;
    margin-top: -10%;
    margin-left: 20%;

}

.card-ct h6 {
    color: black;
}

.card-ct button{
    background: linear-gradient(0deg, #0061B0, #0061B0),
linear-gradient(89.93deg, #0061B0 0.05%, #016DC6 47.39%, #048BFA 99.93%);
box-shadow: 0px 4px 6px 0px #00000033;
    color: #fff;
    padding: 2% 5%;
    margin:10%;
    border-color: #048BFA;
}

div .img-ct {
   
}

.img-ct img {
    
}




div .whatwedo {
    padding-top: 20%;
    text-align: center;

}

.whatwedo h3 {
    font-size: 50px;
}

div .procedure {
    padding-top: 10%;
    text-align: center;
}

.procedure div {
    padding: 10px;
}

.procedure img {
    padding-bottom: 10%;
}

div .ourservices{
      padding-top: 20%;
}

.ourservices div{
    
}
.ourservices h6{
    font-size:20px;
}

.ourservices .img-our{
    padding-top: 15%;
    padding-left: 10%;
    text-align: center;
}


div .APPLICATION{
    padding-top:20%;
}

.col .text-1{
    margin-top: 20%;
    margin-left: 40%;
    font-size:25px;
}



.communication {
    text-align: center;
    display: flex;
    padding-top: 10%;
}

.communication div{
}
.communication .web{
    padding: 10%;
    width: 475px;
    height: 475px;
   border:2px solid #0163B3;
    border-radius: 50%;
    box-shadow: 0px 4px 60px -5px #0061B0;
    

}
.communication .mobile{
    padding-top: 8%;
    width: 360px;
    height: 360px;
    border:2px solid #908B8B;
    border-radius: 50%;
    margin:5% 5%;
}
.mobile img{
    margin-top: -30%;
}



div .price {
    height:  269px;
    width: 1234px;
    margin: 10% 10%;
    background: url("/assets/img/Rectangle 34.png") ;

}
.price .text-pri{
    padding: 2% 10%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size:50px;
    

}

.btn-pri{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-pri div{
    width: 221px;
    height: 54px;
    background: #33A3FF;
    padding-top: 1%;
    text-align: center;
}

.btn-pri .nbg{
    background-color: #fff;
}



.sofware{
}

.sofware .title b {
    margin-left: 30%;
}

.sofware .title h1{
    line-height: 0.4;
}

.sofware .text{
    font-size: 26px;
}

div .team{
    align-items: center;
    justify-content: center;
}
.team .card{
    border: none;
    margin:2%;
    box-shadow: 0px 4px 30px 0px #00000040;
    

}
.team .img-team {
    display: inline;
}



.ourgoals{
    padding-top: 20%;
}
.ourgoals .p1{
    margin-left: 20%;
}
.ourgoals .text-1{
    margin: 20% 0 0 0;
    padding: 0;

}

div .gttv{
    background: #F7F7F7;

    height: 711px;
    width: 1234px;
    margin: 10%;
}
.gttv div{
    padding:3%
}
/* --------------------------------------------- ------------------*/


div .icon-ctn {
    color: #0061B0;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 1300px;
}

.bg-bt{
    background: no-repeat url("/assets/img/bg-footer.png");
    background-size: cover;
    max-width: 100%;

}

div .banner {
     
    background-size: cover;
    padding: 100px 0;
    margin-top: 100px;

    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),url("/assets/img/23509.png");

}


.text-bn {
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.banner p {
    font-weight: bolder;
    font-size: 90px;
    padding-top: 0px;
}

.banner .bt-ft {
    background-color: #0061B0;
    margin-left: 10%;
    padding: 10px 20px;
    border-color: #0061B0;
    border-radius: 5%;
    color: #fff;
}

#footer .img-ft {
    position: absolute;
    padding-left: 1100px;
}


/* --------------------------------------------------- */
#footer .information {
    color: #fff;
    padding: 20% 10%;
}

.information div {}


#footer li {
    display: block;
}

div .left {
    float: left;
}

.left p1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.icons-ft i {
    margin-left: 30px;
    font-size: 20px;
}

div .center {
    text-align: left;
    float: center;
}

.center h4 {
    font-weight: bold;
}

div .right {
    float: right;
}

.right a {
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    display: block;
}

.right li a:hover {
    background-color: #ccc;
}

div #end {
    color: #fff;
    margin-left: 50%;
    margin-bottom: 0px;
}